<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>EMAIL--------------------PASSWORD</h2>
<br>
Supervisor Email -------------- satish@aai.aero</br>
Supersivor Password ------------- satish
	<h2><br>Employee</br>EMAIL------------PASSWORD</h2>
<br>manager1@aai.aero------------manager1</br>
<br>manager2@aai.aero------------manager2</br>
<br>manager3@aai.aero------------manager3</br>
<br></br>
<br>dgm1@aai.aero   -----------------dgm1</br>
<br>dgm2@aai.aero   -----------------dgm2</br>
<br>dgm3@aai.aero   -----------------dgm3</br>
<br></br>
----
<br>je1@aai.aero   ---------------------je1</br>
<br>je2@aai.aero   ---------------------je2</br>
<br>je3@aai.aero   ---------------------je3</br>




</body>
</html>



